
.filter-grayscale {
  filter: grayscale(70%);
}

.filter-multiple {
  filter: contrast(50%) hue-rotate(35deg) saturate(130%);
}

.filter-hue-rotate {
  filter: hue-rotate(210deg);
}

.filter-saturate {
  filter: saturate(250%);
}

.filter-invert {
  filter: invert(100%);
}

.filter-sepia {
  filter: sepia(90%);
}

.filter-blur {
  filter: blur(10px);
}

.page {
  padding-block-start: 100px;
  color: var(--text-color, #000000);
  font-family: var(--page-main-font-family, "Inter", sans-serif);
  background-color: var(--page-background-color, #ffffff);
  background-image: var(--page-background-image, none);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: "wght" var(--page-main-font-weight, 400);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.page__header {
  margin-block-end: 100px;
}

.modal {
  border: 2px solid var(--text-color, #000000);
  padding: 25px 30px;
  color: var(--text-color, #000000);
  font-family: var(--page-accent-font-family, "PressStart2P", fantasy);
  line-height: 1.5;
  text-transform: uppercase;
  background: var(--page-background-color, #ffffff);
  max-inline-size: 355px;
  width: 90%;
  max-width: 355px;
}

.modal[open] {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  gap: 30px;
}

.modal::backdrop {
  opacity: 0.75;
  background: var(--color-black, #000000);
}

.modal__content {
  display: grid;
  grid-template-columns: 39px auto;
  gap: 20px;
  align-items: center;
}

.modal__icon {
 grid-column: 1;
  width: 39px;
  height: 39px;

}

.modal__icon svg {
  width: 100%;
  height: 100%;
}

.modal__button {
  inline-size: 100%;
}

.page-title {
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  font-family: var(--page-accent-font-family, "PressStart2P", fantasy);
  line-height: normal;
  text-transform: uppercase;
  width: 100%;
  max-width: 700px;
}

.header__content {
  max-width: 455px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 129px 19px;
}

.header__title {
  margin-block-end: 19px;
  margin-block-start: 129px;
}

.header__subtitle {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.header__theme-menu {
  margin-block: 25px;
}

.theme-menu__list {
  display: grid;
  gap: 8px;
  padding-inline-start: 20px;
}

.main {
  display: grid;
  justify-items: center;
  gap: 57px;
  padding-block-end: 105px;
}

.cards-list {
  display: grid;
  gap: 52px;
}

.card {
  margin-inline: auto;
  border: 2px solid var(--text-color, #000000);
  background: var(--page-background-color, #ffffff);
  max-inline-size: 700px;
  width: 100%;
  max-width: 700px;
}

.card__header {
  border-block-end: 2px solid var(--text-color, #000000);
  padding: 4px 10px;
}

.card__title {
  font-size: 18px;
  line-height: normal;
  font-variation-settings: "wght" var(--headings-font-weight, 700);
}

.card__img-wrapper {
  position: relative;
  overflow: hidden;
}

.card__img-label {
  position: absolute;
  z-index: 1;
  opacity: 0.5;
  color: var(--text-color, #000000);
  font-family: var(--page-accent-font-family, "PressStart2P", fantasy);
  font-size: 14px;
  line-height: normal;
  text-transform: uppercase;
  text-shadow: 0 0 1px var(--page-background-color, #ffffff);
  inset-inline-end: 13px;
  inset-block-start: 24px;
  mix-blend-mode: hard-light;
}

.card__img {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
  width: 100%;
}

.card__content {
  display: grid;
  gap: 27px;
  border-block-start: 2px solid var(--text-color, #000000);
  padding: 25px 30px 0 25px;
  font-size: 18px;
  line-height: calc(21 / 18);
  overflow-wrap: break-word;
  hyphens: auto;
}

.card__footer {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 12px;
  padding: 25px 25px 23px 25px;
  flex-wrap: wrap;
}

.card__icon-button {
  display: grid;
  border: 2px solid transparent;
  padding: 0;
  background: transparent;
  cursor: pointer;
  appearance: none;
  position: relative;
  transition: border-color 0.3s ease;
  height: 100%;
  align-items: center;
}

.card__like-button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  width: 130px;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color, #000000);
}

.button {
  position: relative;
  z-index: 1;
  border: 2px solid var(--text-color, #000000);
  padding: 10px 36px;
  font-family: var(--page-accent-font-family, "PressStart2P", fantasy);
  font-size: 14px;
  text-transform: inherit;
  background: var(--page-background-color, #ffffff);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
  white-space: nowrap;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0px 0px var(--text-color, #000000);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: var(--text-color, #000000);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 100%;
}

.button:hover::before {
  transform: scaleX(1);
}

.button--save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px 20px;
  width: auto;
  max-width: 100%;
  transform: translateY(-6px);
}

.button__text,
.button__icon {
  color: var(--button-text-color, #ffffff);
  mix-blend-mode: difference;
}

.button__icon,
.modal__icon {
  fill: currentColor;
}

.button__icon {
  width: 21px;
  height: 21px;
  fill: currentColor;
  flex-shrink: 0;
}

.modal__icon {
  color: var(--text-color, #000000);
  width: 30px;
  height: 30px;
}

.like-icon {
  inline-size: 39px;
  block-size: 36px;
}

@media (max-width: 375px) {

  .page {
    max-width: 375px;
    margin: 0 auto;
    padding: 100px 0px;
  }

  .header {
    max-width: 100%;
    padding: 0 10px;
    box-sizing: border-box;
  }


  .header__content {
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
    padding: 100px 31px 120px 31px;
  }

  .header__title {
    margin-block-end: 1rem;
    text-align: center;
    margin: 20px 0;
  }

  .card__img-label {
    right: 5px;
    top: 5px;
    font-size: 12px;
  }

  .theme-menu__list {
    padding-inline-start: 10px;
    justify-content: center;
  }

  .card {
    max-width: 100%;

  }

  .card__title {
    margin-top: 2px;
  }

  .card__content {
    padding: 26px;
    gap: 0;
  }

  .card__footer {
    gap: 4px;
    padding: 25px 25px 23px 0;
}

  .modal {
    width: 95%;
    max-width: 100%;
    padding: 15px;
  }

  .button {
    padding: 10px 0;
    font-size: 12px;
  }

  .button--save {
    width: 83%;
    flex-direction: column;
    padding: 13px 15px;
  }

   .button__text {
    font-size: 14px;
  }

  .button__icon {
    block-size: 28px;
    inline-size: 28px;
  }
  
  .modal__icon {
    width: 32px;
    height: 32px;
  }
}

@supports (
  (-webkit-text-stroke: 1px var(--page-background-color, #ffffff)) or
    (text-stroke: 1px var(--page-background-color, #ffffff))
) {
  .card__img-label {
    text-shadow: none;
    -webkit-text-stroke: 1px var(--page-background-color, #ffffff);
    text-stroke: 1px var(--page-background-color, #ffffff);
  }
}
